@model SGCFIEE.Models.CtMovilidades
@{


    ViewData["Title"] = "Editar Movilidad";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head">
                        <header>Información de movilidad</header>
                    </div>
                </div>
                <div class="white-box">
                    
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <form asp-action="EditarMovilidad" asp-antiforgery="true">
                                <div class="row">
                                    <input asp-for="IdCtMovilidades" value="@Model.IdCtMovilidades" hidden />
                                    <div class="col-md-12 col-sm-12">
                                        
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">

                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label asp-for="TipoMovilidades">Tipo: </label>
                                                        <select asp-for="TipoMovilidades" class="form-control" required="required">
                                                            
                                                            @if (1 != Model.TipoMovilidades)
                                                            {
                                                                <option value="2">Internacional</option>
                                                                <option value="1">Nacional</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="1">Nacional</option>
                                                                <option value="2">Internacional</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="PaisDestinoMovilidad">Pais destino</label>
                                                        <input asp-for="PaisDestinoMovilidad" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                                        <span asp-validation-for="PaisDestinoMovilidad" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="EntidadDestinoMovilidad">Entidad destino</label>
                                                        <input asp-for="EntidadDestinoMovilidad" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                                        <span asp-validation-for="EntidadDestinoMovilidad" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label asp-for="EscuelaDestinoMovilidad">Escuela destino</label>
                                                        <input asp-for="EscuelaDestinoMovilidad" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                                        <span asp-validation-for="EscuelaDestinoMovilidad" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="TiempoPermanenciaMovilidad">Tiempo de permanencia</label>
                                                        <input asp-for="TiempoPermanenciaMovilidad" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                                        <span asp-validation-for="TiempoPermanenciaMovilidad" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input id="enviamov" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                                    <a asp-controller="EstudiantesComplementaria" asp-action="MostrarMovilidad" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                        Cancelar
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
