
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>INFORMACIÓN COMPLEMENTARIA</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <div class="card-body " id="bar-parent2">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Programas educativos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearPrograma" class="btn btn-success btn-sm m-b-10">
                                                Agregar programa 
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarProgramas" class="btn btn-success btn-sm m-b-10">
                                                Mostrar programas 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Rubros de examenes(ingreso e interno)
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearRubro" class="btn btn-success btn-sm m-b-10">
                                                Agregar rubro
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarRubro" class="btn btn-success btn-sm m-b-10">
                                                Mostrar rubro
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Salones
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearSalon" class="btn btn-success btn-sm m-b-10">
                                                Agregar salon
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarSalon" class="btn btn-success btn-sm m-b-10">
                                                Mostrar salones
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Áreas de Experiencias Educativas
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearArea" class="btn btn-success btn-sm m-b-10">
                                                Agregar área
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarArea" class="btn btn-success btn-sm m-b-10">
                                                Mostrar áreas
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Experiencias Educativas
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearExperiencia" class="btn btn-success btn-sm m-b-10">
                                                Agregar experiencia
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarExperiencia" class="btn btn-success btn-sm m-b-10">
                                                Mostrar experiencias
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Movilidad
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearMovilidad" class="btn btn-success btn-sm m-b-10">
                                                Agregar movilidad
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarMovilidad" class="btn btn-success btn-sm m-b-10">
                                                Mostrar movilidades
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Tipos de calificación
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearTipo" class="btn btn-success btn-sm m-b-10">
                                                Agregar tipo
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarTipo" class="btn btn-success btn-sm m-b-10">
                                                Mostrar tipos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Tipos de eventos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearTipoe" class="btn btn-success btn-sm m-b-10">
                                                Agregar tipo de evento
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarTipoe" class="btn btn-success btn-sm m-b-10">
                                                Mostrar tipos de eventos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Eventos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="EstudiantesComplementaria" asp-action="CrearEvento" class="btn btn-success btn-sm m-b-10">
                                                Agregar evento
                                            </a>
                                            <a asp-controller="EstudiantesComplementaria" asp-action="MostrarEvento" class="btn btn-success btn-sm m-b-10">
                                                Mostrar eventos
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
