@model IEnumerable<SGCFIEE.Models.TbSalones>
@{
    ViewData["Title"] = "Mostrar Salones";
    Layout = "~/Views/Home/Principal.cshtml";
}


<!DOCTYPE html>

<html>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-green">
            <div class="card-head">
                <header>SALONES</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%" id="tbcomp">
                    <thead>
                        <tr>
                            <th class="center" style="width: 200px"> Estatus </th>
                            <th class="center" style="width: 700px;"> Clave Salon/Laboratorio</th>
                            <th class="center">Edificio</th>
                            <th style="display: none"></th>
                            <th class="center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) { 
                            <tr class="odd gradeX">
                                <td> Activo</td>
                                <td class="center">@Html.DisplayFor(modelItem => item.ClaveSalon)</td>
                                <td class="center">@Html.DisplayFor(modelItem => item.Edificio)</td>
                                <td style="display: none"></td>

                                <td>
                                    <div class="center">
                                        <a asp-route-id="@item.IdTbSalones" asp-controller="EstudiantesComplementaria" asp-action="EditarSalon" class="btn btn-primary btn-xs editar" title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a asp-route-id="@item.IdTbSalones" asp-controller="EstudiantesComplementaria" asp-action="EliminarSalon" class="btn btn-danger btn-xs eliminar" title="Eliminar">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
