.tituloHeader{
    font-size: 10px !important; 
    color:#fff;
}

@media (min-width: 480px) {
    .tituloHeader{
        font-size: 10px !important;
    }
}

@media (min-width: 768px) {
    .tituloHeader{
        font-size: 15px !important;
    }
}

@media (min-width: 992px) {
    .tituloHeader{
        font-size: 20px !important;
    }
}

@media (min-width: 1200px) {
    .tituloHeader{
        font-size: 25px !important;
    }
}