@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
}
<script src="~/assets/js/pages/table/table_data.js"></script>

<!DOCTYPE html>
<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>COORDINADORES</header>
                </div>
                <div class="white-box">
                    <!-- Nav tabs -->
                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Coordinadores de academia</a></li>
                            <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Coordinadores de programas transversales</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div id="tabla_academias">
                               <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosCoordinadores" asp-action="CrearAcademia" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="example4" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal</th>
                                                            <th class="center"> Nombre<br>del<br>académico</th>
                                                            <th class="center"> Academia </th>
                                                            <th class="center"> Periodo inicio </th>
                                                            <th class="center"> Periodo termino </th>
                                                            <th class="center"> Evidencia </th>
                                                            <th class="center"> Acción </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="center">
                                                                <button class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-download"></i>
                                                                </button>
                                                            </td>
                                                            <td class="center">
                                                                <a asp-controller="AcademicosCoordinadores" asp-action="EditarAcademia" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <button class="btn btn-danger btn-xs eliminar_cooracademia">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">   
                            <div id="tabla_programa_transversal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosCoordinadores" asp-action="CrearProgramaTransversal" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="example1">
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal </th>
                                                            <th class="center"> Nombre<br>del<br>académico</th>
                                                            <th class="center"> Programa<br>transversal </th>
                                                            <th class="center"> Periodo de inicio </th>
                                                            <th class="center"> Periodo de termino </th>
                                                            <th class="center"> Evidencia </th>
                                                            <th class="center"> Acción </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="center">
                                                                <button class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-download"></i>
                                                                </button>
                                                            </td>
                                                            <td class="center">
                                                                <a asp-controller="AcademicosCoordinadores" asp-action="EditarProgramaTransversal" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <button class="btn btn-danger btn-xs eliminar_coorprogramaT">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <!--<script>
        $('li a').click(function(e) {
            var $this = $(this);
            $this.closest('ul').find('li.active,a.active').removeClass('active');
            $this.addClass('active');
            $this.parent().addClass('active');
        });
    </script>-->
</html>

