@model SGCFIEE.Models.ParticipacionPladea;
@{
    ViewData["Title"] = "CrearPLADEA";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>PARTICIPACIÓN EN EL PLADEA</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosComisiones" asp-action="GuardarPLADEA" method="post" enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">

                                <div class="form-group">
                                    <label>Académico</label>
                                    <select asp-for="IdAcademico" class="form-control">
                                        @foreach (var item in acad)
                                        {
                                            <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nombre de la comisión</label>
                                    <input asp-for="Comision" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                    <span asp-validation-for="Comision" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Meta</label>
                                    <input asp-for="Meta" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                    <span asp-validation-for="Meta" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">
                                <div class="form-group">
                                    <label>Acción</label>
                                    <input asp-for="Accion" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                    <span asp-validation-for="Accion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <input asp-for="Fecha" type="date" class="form-control" placeholder="Ingresar..." required="required">
                                    <span asp-validation-for="Fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Subir evidencia:</label><br>
                                    <input asp-for="Archivo" type="file" class="default" id="archivo" name="file" required="required">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosComisiones" asp-action="IndexPLADEA" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
