@model SGCFIEE.Models.ExperienciaEducativa
@using SGCFIEE.Models
@{


    ViewData["Title"] = "Crear Experiencia";
    Layout = "~/Views/Home/Principal.cshtml";

    var y = (IEnumerable<AreaExperienciaEducativa>)ViewData["area"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head">
                        <header>Información de la Experiencia Educativa</header>
                    </div>
                </div>
                <div class="white-box">
                   
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <form asp-action="CrearExperiencia" asp-antiforgery="true">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">

                                                <div class="col-md-6 col-sm-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label asp-for="Nombre">Nombre de la Experiencia Educativa</label>
                                                        <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Creditos">Creditos</label>
                                                        <input asp-for="Creditos" type="number" class="form-control" placeholder="Ingresar..." required="required">
                                                        <span asp-validation-for="Creditos" class="text-danger"></span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>Area</label>
                                                        <select asp-for="IdArea" class="form-control" id="areaexp">
                                                            @foreach (var item in y) {
                                                                <option value="@item.IdAreaExperienciaEducativa">@Html.DisplayFor(modelItem => item.Nombre) </option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Horas">Horas</label>
                                                        <input asp-for="Horas" type="number" class="form-control" placeholder="Ingresar..." required="required">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <a asp-controller="AcademicosComplementaria" asp-action="MostrarExperiencia" class="btn btn-success btn-sm m-b-10">
                                                        Mostrar tabla
                                                    </a>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input id="enviaexpe" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                                    <a asp-controller="AcademicosComplementaria" asp-action="VistaOpcionesCatalogos" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                        Cancelar
                                                    </a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
