@model SGCFIEE.Models.CuerposAcademicos;
@{
    Layout = "~/Views/Home/Principal.cshtml";
    var estado = (IEnumerable<CuerpoEstados>)ViewData["estados"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green"></div>
                <div class="white-box">
                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item"><a href="#tab1" class="nav-link active show" data-toggle="tab">Editar cuerpo académico</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="card-body " id="bar-parent2">
                                        <!-- text input -->
                                        <form asp-action="ActualizarCuerpo" asp-antiforgery="true">
                                            <div class="card-body " id="bar-parent2">
                                                <div class="row">
                                                    <input type="hidden" asp-for="IdCuerpoAcademico" />
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label >Nombre del cuerpo académico: </label>
                                                            <input asp-for="Nombre" type="text" class="form-control">
                                                            <span asp-validation-for="Nombre" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Estado del cuerpo académico</label>
                                                            <select asp-for="IdEstado" class="form-control">
                                                                @foreach (var item in estado)
                                                                {
                                                                    @if (item.IdEstado != Model.IdEstado)
                                                                    {
                                                                        <option value="@item.IdEstado">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option selected value="@item.IdEstado">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-sm m-b-10">
                                                Guardar cambios
                                            </button>
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarCuerpos" class="btn btn-default btn-sm m-b-10">
                                                Cancelar
                                            </a>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</html>
