@model SGCFIEE.Models.TbEventos
@using SGCFIEE.Models
@{
    ViewData["Title"] = "Crear eventos";
    Layout = "~/Views/Home/Principal.cshtml";

    var y = (IEnumerable<TipoEventos>)ViewData["evento"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head">
                        <header>Información del evento</header>
                    </div>
                </div>
                <div class="white-box">
                    
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <form asp-action="EditarEvento" asp-antiforgery="true">
                                <div class="row">
                                    <input asp-for="IdEventos" value="@Model.IdEventos" hidden />
                                    <div class="col-md-12 col-sm-12">
                                        
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">

                                                <div class="col-md-6 col-sm-6">
                                                    <!-- text input -->
                                                    
                                                    <div class="form-group">
                                                        <label>Tipo de evento</label>
                                                        <select asp-for="RTioEvento" class="form-control">
                                                            @foreach (var item in y)
                                                            {
                                                                <option value="@item.IdEventos">@Html.DisplayFor(modelItem => item.Nombre) </option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label asp-for="Nombre">Nombre del evento</label>
                                                        <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                                    </div>
                                                    <div class="form-group">
                                                    Estado:<br>
                                                    <input asp-for="Status" type="radio" value="1" checked /> Activo<br>
                                                    <input asp-for="Status" type="radio" value="0" /> Inactivo
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input id="enviamov" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                                    <a asp-controller="AcademicosComplementaria" asp-action="MostrarEvento" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                        Cancelar
                                                    </a>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
