@model SGCFIEE.Models.ProgramaEducativo;
@{
    Layout = "~/Views/Home/Principal.cshtml";
    var x = (IEnumerable<ProgramaEducativo>) ViewData["carreras"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>Mapa curricular</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="white-box">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">

                                    <div class="card-body " id="bar-parent2">
                                        <!-- text input -->
                                        <form asp-action="MostrarMaterias" asp-antiforgery="true">
                                            <div class="form-group">
                                                <div class="col-md-3 col-sm-3">
                                                    <label asp-for="IdProgramaEducativo">Elija el programa educativo</label>
                                                    <select asp-for="IdProgramaEducativo" id="tipo" class="form-control">
                                                        <option value="-1">Seleccionar...</option>
                                                        @foreach (var item in x)
                                                        {
                                                            <option value="@item.IdProgramaEducativo">@Html.DisplayFor(itemView => item.Nombre)</option>
                                                        }
                                                    </select>
                                                </div>
                                                <br />
                                                <button id="BuscarMov" type="submit" class="btn btn-success btn-sm m-b-10">
                                                    Buscar
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
