@model SGCFIEE.Models.MapaCurricular;
@{
    Layout = "~/Views/Home/Principal.cshtml";
    var x = (IEnumerable<SGCFIEE.Models.ProgramaEducativo>)ViewData["carreras"];
}

<!DOCTYPE html>
<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>Mapa curricular</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="white-box">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                
                                <div class="col-md-12 col-sm-12">
                                    
                                    
                                    <div class="card-body " id="bar-parent2">
                                        <div class="row p-b-20">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group">
                                                    <a id="cancelarEdicion" asp-action="SeleccionarCarrera" asp-controller="AcademicosComplementaria" class="btn btn-success btn-sm m-b-10">
                                                        INSERTAR
                                                    </a>
                                                </div>

                                                <a id="cancelarEdicion" asp-action="VistaOpcionesCatalogos" asp-controller="AcademicosComplementaria" class="btn btn-default btn-sm m-b-10">
                                                    Volver
                                                </a>
                                            </div>
                                        </div>
                                        <!-- text input -->
                                        <form asp-action="TablaMatPE" asp-antiforgery="true">
                                            <div class="form-group">
                                                <div class="col-md-3 col-sm-3">
                                                    <label asp-for="IdProgramaEducativo">Elija la carrera</label>
                                                    <select asp-for="IdProgramaEducativo" id="tipo" class="form-control">
                                                        @foreach (var item in x)
                                                        {
                                                            <option value="@item.IdProgramaEducativo">@Html.DisplayFor(itemView => item.Nombre)</option>
                                                        }
                                                    </select>
                                                    <br />
                                                    <button id="BuscarMov" type="submit" class="btn btn-success btn-sm m-b-10">
                                                        Buscar
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
