
@{
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>INFORMACIÓN COMPLEMENTARIA</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <div class="card-body " id="bar-parent2">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Tipo de personal
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarPersonal" class="btn btn-success btn-sm m-b-10">
                                                Mostrar tipos de personal</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarPersonal" class="btn btn-success btn-sm m-b-10">
                                                Agregar tipo de personal</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Puestos existentes
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarPuestos" class="btn btn-success btn-sm m-b-10">
                                                Mostrar puestos</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarPuestos" class="btn btn-success btn-sm m-b-10">
                                                Agregar puestos</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Laboratorios
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarLaboratorios" class="btn btn-success btn-sm m-b-10">
                                                Mostrar laboratorios</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarLaboratorios" class="btn btn-success btn-sm m-b-10">
                                                Agregar laboratorio</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Periodo
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarPeriodos" class="btn btn-success btn-sm m-b-10">
                                                Mostrar periodos</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarPeriodos" class="btn btn-success btn-sm m-b-10">
                                                Agregar periodos</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Tipo de titulo
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarTTitulo" class="btn btn-success btn-sm m-b-10">
                                                Mostrar tipo titulo</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarTTitulo" class="btn btn-success btn-sm m-b-10">
                                                Agregar tipo titulo</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Grado del titulos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarGTitulo" class="btn btn-success btn-sm m-b-10">
                                                Mostrar grados</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarGTitulo" class="btn btn-success btn-sm m-b-10">
                                                Agregar grado</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Distinción al trabajo académico
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarDistincionesTA" class="btn btn-success btn-sm m-b-10">
                                                Mostrar distinción T/A</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarDistincionesTA" class="btn btn-success btn-sm m-b-10">
                                                Agregar distinción T/A</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Certificación
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarCertificacion" class="btn btn-success btn-sm m-b-10">
                                                Mostrar certificaciones</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarCertificacion" class="btn btn-success btn-sm m-b-10">
                                                Agregar certificaciones</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Instituciones/Empresas
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarInstiEmpre" class="btn btn-success btn-sm m-b-10">
                                                Mostrar instituciones y empresas</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarIE" class="btn btn-success btn-sm m-b-10">
                                                Agregar instituciones y empresas</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Academias
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarAcademias" class="btn btn-success btn-sm m-b-10">
                                                Mostrar academias</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarAcademias" class="btn btn-success btn-sm m-b-10">
                                                Agregar academias</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Programas Transversales
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarProTransversales" class="btn btn-success btn-sm m-b-10">
                                                Mostrar programas transversales</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarPTransversal" class="btn btn-success btn-sm m-b-10">
                                                Agregar programas transversales</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Tipo de contratación
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarTContratacion" class="btn btn-success btn-sm m-b-10">
                                                Mostrar tipo de contratación</a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarTContratacion" class="btn btn-success btn-sm m-b-10">
                                                Agregar tipo de contratación</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Mapa curricular
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="VCarreras" class="btn btn-success btn-sm m-b-10">
                                                Mostrar mapa curricular
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="SeleccionarCarrera" class="btn btn-success btn-sm m-b-10">
                                                Agregar mapa curricular
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Localización
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarLocalizacion" class="btn btn-success btn-sm m-b-10">
                                                Mostrar localizaciones
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarLocalizacion" class="btn btn-success btn-sm m-b-10">
                                                Agregar localizaciones
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Editorial
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarEditorial" class="btn btn-success btn-sm m-b-10">
                                                Mostrar editoriales
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarEditorial" class="btn btn-success btn-sm m-b-10">
                                                Agregar editoriales
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Cuerpos académicos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarCuerpos" class="btn btn-success btn-sm m-b-10">
                                                Mostrar cuerpos académicos
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarCuerpo" class="btn btn-success btn-sm m-b-10">
                                                Agregar cuerpos académicos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Niveles jerarquicos de los cuerpos académicos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarNivel" class="btn btn-success btn-sm m-b-10">
                                                Mostrar nivel jerarquico
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarNivel" class="btn btn-success btn-sm m-b-10">
                                                Agregar nivel jerarquico
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Productos
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarProducto" class="btn btn-success btn-sm m-b-10">
                                                Mostrar producto
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarProducto" class="btn btn-success btn-sm m-b-10">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                            Modalidad de trabajos recepcionales
                                        </header>
                                        <div class="panel-body panel-heading-gray">
                                            <a asp-controller="AcademicosComplementaria" asp-action="MostrarModalidad" class="btn btn-success btn-sm m-b-10">
                                                Mostrar modalidad
                                            </a>
                                            <a asp-controller="AcademicosComplementaria" asp-action="InsertarModalidad" class="btn btn-success btn-sm m-b-10">
                                                Agregar modalidad
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
