@model SGCFIEE.Models.EventosAlumnos;
@{
    Layout = "~/Views/Home/Principal.cshtml";
    var x = (SGCFIEE.Models.TbEventos)ViewData["evento"];
    var idEvento = (int)ViewData["idEvento"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>@x.Nombre</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="white-box">
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">

                                    <div class="card-body " id="bar-parent2">
                                        <!-- text input -->
                                        <form asp-action="RegistrarEventoAlu" asp-antiforgery="true">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4"></div>
                                                <div class="col-md-4 col-sm-4">
                                                    <input type="hidden" name="idEvento" value="@idEvento" />
                                                    <input type="hidden" asp-for="REvento" value="@x.IdEventos" />
                                                    <div class="form-group">
                                                        <label asp-for="Fecha">Seleccione la fecha de participación</label>
                                                        <input asp-for="Fecha" id="fech" type="date" class="form-control" placeholder="Ingresar...">
                                                        <span asp-validation-for="Fecha"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4"></div>
                                                <div class="col-md-12 col-sm-12">
                                                    <button id="registrarEvento" type="submit" class="btn btn-success btn-sm m-b-10" style="float:right">
                                                        Guardar
                                                    </button>
                                                    <a asp-route-idEvento="@idEvento" asp-controller="EstudiantesEventos" asp-action="OpcionesEventos" id="cancelarEdicion" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                        Cancelar
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
