@{

    ViewData["Title"] = "Default";
    Layout = "~/Views/Home/Principal.cshtml";
}
<!DOCTYPE html>
<html>
    <div class="row">
        <div class="col-12">
            <div class="blogThumb">
                <div class="thumb-center"><img class="img-responsive padding" alt="user" src="~/assets/img/default.jpg">
                </div>
            </div>
        </div>
    </div>
</html>
