@{

    ViewData["Title"] = "Default";
    Layout = "~/Views/Home/Principal.cshtml";
}
<!DOCTYPE html>
<html>
    <div class="row">
        <div class="card card-box">
            <div class="card-head">
                <header>Sistema Gestor de la Calidad de la Facultad de Ingenieria Electrica y Electronica</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body " id="bar-parent1">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-9">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab_7_1">
                                <div class="blogThumb">
                                    <div class="thumb-center"><img class="img-responsive padding" alt="user" src="~/assets/img/default.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="tab_7_2" style="text-align: justify">
                                <p>El Sistema de Gestión de la Calidad de la FIEE, es el conjunto de procesos debidamente articulados para gestionar y promover la mejora continua y la calidad en todas las funciones sustantivas de la Facultad de Ingeniería Eléctrica y Electrónica.</p>
                            </div>
                            <div class="tab-pane fade" id="tab_7_3" style="text-align: justify">
                                <p>Promover la sistematización, estandarización y certificación de las funciones sustantivas de la FIEE, con el propósito de contribuir al aseguramiento de la calidad y la mejora continua de los servicios, especialmente en lo que se refiere a la Formación académica y de investigación.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3">
                        <ul class="nav nav-tabs tabs-right">
                            <li class="nav-item">
                                <a href="#tab_7_1" data-toggle="tab" class="active show"> SGCFIEE </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab_7_2" data-toggle="tab" class=""> Inicio </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab_7_3" data-toggle="tab" class=""> Objetivos </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
