@{

    ViewData["Title"] = "Principal";
    var x = (int)ViewData["tipo"];
    //Layout = "~/Views/Home/Principal.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>@ViewData["Title"] - SGCFIEE | Universidad Veracruzana</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/assets/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/assets/css/material_style.css">
    <!-- animation -->
    <link href="~/assets/css/pages/animate_page.css" rel="stylesheet">
    <!-- inbox style -->
    <link href="~/assets/css/pages/inbox.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/theme-color.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/plugins/sweet-alert/sweetalert.min.css">
    <link href="~/assets/css/titulo_header.css" rel="stylesheet" type="text/css" />
    <!-- Inicio -->
    <link href="~/assets/css/inicio.css" rel="stylesheet" type="text/css" />
    <!-- Data Tables -->
    <link href="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css" />

    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/img/logicon.jpg" />


</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-blue white-sidebar-color logo-white">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner center">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="~/Home/Default">
                        <img alt="" src="~/assets/img/Logo-UV.jpg">
                        <span class="logo-default">Universidad Veracruzana</span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <span class="tituloHeader">FACULTAD DE INGENIERIA ELECTRICA Y ELECTRONICA</span>
                
                <div class="top-menu">
                    
                    <ul class="nav navbar-nav pull-right">
                        <!-- start notification dropdown -->
                        
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile"> Opciones </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default animated jello">
                                <li>
                                    <a asp-action="Logout" asp-controller="Home">
                                        <i class="icon-logout"></i> Salir
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            @*<li class="sidebar-user-panel">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/assets/img/dp.jpg" class="img-circle user-img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p> Kiran Patel</p>
                    <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline"> Online</span></a>
                </div>
            </div>
        </li>*@
                            @if (x != 3)
                            {
                                <li class="nav-item start">

                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="icon-people"></i>
                                        <span class="title">Academicos</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a asp-controller="AcademicosDatosGenerales" asp-action="Index" class="nav-link ">
                                                <span class="title">Datos generales</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosExperienciaEducativa" asp-action="Index" class="nav-link ">
                                                <span class="title">Experiencias educativas</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosPafis" asp-action="Index" class="nav-link ">
                                                <span class="title">PAFIs</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosTutoria" asp-action="Index" class="nav-link ">
                                                <span class="title">Tutoria</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosEvaluaciones" asp-action="IndexEvalEstudiantes" class="nav-link ">
                                                <span class="title">Evaluaciones</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosProduccion" asp-action="IndexMaterialDidactico" class="nav-link ">
                                                <span class="title">Producción</span>
                                            </a>
                                        </li>
                                        @if (x == 1)
                                        {
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosInstructorEduContinua" asp-action="Index" class="nav-link ">
                                                <span class="title">Instructor de educación continua</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosCoordinadores" asp-action="IndexAcademia" class="nav-link ">
                                                <span class="title">Coordinadores</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosConsejoTecnico" asp-action="Index" class="nav-link ">
                                                <span class="title">Consejo tecnico</span>
                                            </a>
                                        </li>
                                        }
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosPublicaciones" asp-action="IndexArticulos" class="nav-link ">
                                                <span class="title">Publicaciones</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosParticipacionesAcad" asp-action="IndexPartCuerpos" class="nav-link ">
                                                <span class="title">Participaciones académicas</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosComisiones" asp-action="IndexJurOposicion" class="nav-link ">
                                                <span class="title">Comisiones</span>
                                            </a>
                                        </li>
                                        <!--
                                        <li class="nav-item ">
                                            <a asp-controller="AcademicosReportes" asp-action="Index" class="nav-link ">
                                                <span class="title">Reportes</span>
                                            </a>
                                        </li>
                                        -->
                                    </ul>
                                </li>
                            }
                            @if(x != 2){
                            
                                <li class="nav-item start ">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="icon-graduation"></i>
                                        <span class="title">Estudiantes</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item ">
                                            <a asp-controller="EstudiantesInformacion" asp-action="Index" class="nav-link ">
                                                <span class="title">Información General</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="EstudiantesPafis" asp-action="Index" class="nav-link ">
                                                <span class="title">PAFIs</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a asp-controller="EstudiantesMovilidad" asp-action="EleccionMovilidades" id="movilidad" class="nav-link ">
                                                <span class="title">Movilidad</span>
                                            </a>
                                        </li>
                                        @if (x == 3)
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="EstudiantesEventos" asp-action="Index" class="nav-link ">
                                                    <span class="title">Registro de Eventos</span>
                                                </a>
                                            </li>
                                            <li class="nav-item ">
                                                <a asp-controller="EstudiantesExamen" asp-action="Index" class="nav-link ">
                                                    <span class="title">Registro de Exámenes</span>
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-item ">
                                            <a asp-controller="EstudiantesBuzon" asp-action="Index" class="nav-link ">
                                                <span class="title">Buzón de Sugerencias</span>
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                             }
                            @if(x==1){
                            <li class="nav-item start ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="icon-folder"></i>
                                    <span class="title">Información Complementaria</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item ">
                                        <a id="academicoscom" asp-controller="AcademicosComplementaria" asp-action="VistaOpcionesCatalogos" class="nav-link ">
                                            <span class="title">Catalogos</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->

            <div class="page-content-wrapper">
                <div class="page-content">
                    <div id="content">@RenderBody()</div>
                </div>
            </div>

            <!-- end page content -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- start js include path -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/popper/popper.min.js"></script>
    <script src="~/assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/pages/sparkline/sparkline-data.js"></script>
    <script src="~/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="~/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" charset="UTF-8"></script>
    <script src="~/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js" charset="UTF-8"></script>

    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js" charset="UTF-8"></script>
    <!-- Common js-->
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/layout.js"></script>
    <script src="~/assets/js/theme-color.js"></script>
    <!-- material -->
    <script src="~/assets/plugins/material/material.min.js"></script>
    <!-- animation -->
    <script src="~/assets/js/pages/ui/animations.js"></script>
    <script src="~/assets/js/pages/material_select/getmdl-select.js"></script>
    <script src="~/assets/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
    <script src="~/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/assets/plugins/material-datetimepicker/datetimepicker.js"></script>

    <!-- chart js -->
    <script src="~/assets/plugins/chart-js/Chart.bundle.js"></script>
    <script src="~/assets/plugins/chart-js/utils.js"></script>
    <script src="~/assets/js/pages/chart/chartjs/home-data.js"></script>
    <!--Alerts-->
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>


    <!-- summernote -->
    <script src="~/assets/plugins/summernote/summernote.min.js"></script>
    <script src="~/assets/js/pages/summernote/summernote-data.js"></script>


    <!-- data tables -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/pages/table/table_data.js"></script>
    <!-- dropzone -->
    <script src="~/assets/plugins/dropzone/dropzone.js"></script>
    <!--tags input-->
    <script src="~/assets/plugins/jquery-tags-input/jquery-tags-input.js"></script>
    <script src="~/assets/plugins/jquery-tags-input/jquery-tags-input-init.js"></script>
    <!--select2-->
    <script src="~/assets/plugins/select2/js/select2.js"></script>
    <script src="~/assets/js/pages/select2/select2-init.js"></script>
    <script src="~/assets/js/pages/estudiantes/estudiantes_datos.js"></script>
    <script src="~/assets/js/pages/ExamenAlumno.js"></script>
    <script src="~/assets/js/jquery-form.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/jspdf.min.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/html2canvas.js"></script>
     <!--academicos-->
    <script type="text/javascript" src="~/assets/js/pages/academicos/datatable.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/academicos/eliminardato.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/academicos/tutoria.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablaPDF').on('click', function () {
                //function genPDF() {
                console.log("hola1");
                html2canvas($("#reporte").get(0)).then(function (canvas) {
                    var img = canvas.toDataURL("image/png");
                    
                    var doc = new jsPDF();
                    doc.addImage(img, 'JPEG', 5, 5, 200, 270);
                    doc.save('reporte.pdf');
                });
            });
        });

    </script>
    <script>
        $('a[name="laeliminacion"]').on('click', function () {
                    var value = $(this).data('value');
                    var controlador = $(this).data('controlador');
                    var accion = $(this).data('accion');
                    swal({
                        title: "Estas seguro?",
                        text: "Se eliminara el registro",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Confirmar",
                        closeOnConfirm: false
                    }, function () {
                            $.get('' + controlador + '/' + accion, { id: value }).then(function () {
                                $.get('' + controlador + '/' + 'Index').then(function () {
                                    var newDoc = document.open("text/html", "replace");
                                    newDoc.write(arguments[0]);
                                    newDoc.close();
                                    swal({ title: "Eliminado exitosamente!", timer: 2000, type: "success", showConfirmButton: false });
                                })
                            })
                    });

                });
    </script>
    
    <!-- end js include path -->
</body>
</html>
