@model SGCFIEE.Models.TbExamenalumno
@{


    ViewData["Title"] = "Crear";
    Layout = "~/Views/Home/Principal.cshtml";
    var idAlu = (int)ViewData["idAlu"];
    var rubro = (IEnumerable<TbRubrosexamenes>)ViewData["rubros"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green"></div>
                <div class="white-box">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <form asp-action="Crear" asp-antiforgery="true">
                            <div class="tab-pane" id="examenAlumno">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card-head">
                                            <header>Examen ingreso e interno</header>
                                        </div>
                                        <div class="card-body " id="bar-parent2">
                                            <div class="row">
                                                @foreach (var item in rubro)
                                                {
                                                <div class="col-md-6 col-sm-6 calificacion">
                                                    <div class="form-group">
                                                        <strong asp-for="CalificacionExamen">@Html.DisplayFor(modelItem => item.RubroExamen)</strong>
                                                        <input asp-for="CalificacionExamen" value="" type="number" class="form-control" placeholder="Calificacion" name="calificacion" required="required">
                                                        <input asp-for="IdRubroExamen" value="@item.IdTbRubrosExamenes" type="hidden" name="rubro">
                                                         <input asp-for="IdAlumno" value="@idAlu" type="hidden" name="alumno">
                                                    </div>
                                                    <strong>Tipo Examen</strong>
                                                    <select asp-for="TipoExamen" class="form-control" name="tipoExamen">

                                                        <option value="1">Examen ingreso</option>
                                                        <option value="2">Examen interno</option>
                                                        }
                                                    </select> <br/> <br />
                                                </div>
                                                    
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input id="enviadatose" type="button" value="Guardar" class="btn btn-success btn-sm m-b-10">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
