
@{
    ViewData["Title"] = "Agregar Calificacion";
    Layout = "~/Views/Home/Principal.cshtml";
    var id = (int)ViewData["idalumno"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head" id="idDatosPersonales">
                        <header>Calificación</header>
                    </div>
                </div>
                <div class="white-box">
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        
                                        <div class="card-body " id="bar-parent2">
                                            <form asp-action="Informacion" asp-antiforgery="true">
                                                <div class="row">
                                                    <input   name="idalumno" value="@id" />
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label>NRC de la Experiencia Educativa</label>
                                                            <input name="nrc"  type="number" class="form-control" placeholder="Ingresar..." required="required">
                                                        </div>
                                                        <button type="submit" class="btn btn-success btn-sm m-b-10" style="float:right">Buscar</button>
                                                        <a asp-controller="EstudiantesInformacion" asp-action="DetallesBoleta" asp-route-id="@id" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                            Cancelar
                                                        </a>
                                                    </div>
                                                
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
