@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
}
<script src="~/assets/js/pages/table/table_data.js"></script>

<!DOCTYPE html>
<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>EVALUACIONES</header>
                </div>
                <div class="white-box">
                    <!-- Nav tabs -->
                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Evaluación de estudiantes</a></li>
                            <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Evaluación del consejo tecnico</a></li>
                            <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">Evaluación del tutorado</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active " id="tab1">
                            <div id="tabla_evaluacionacademicos">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosEvaluaciones" asp-action="CrearEvalEstudiantes" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus" style="color:white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="example4" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal </th>
                                                            <th class="center"> Nombre del académico</th>
                                                            <th class="center"> Calificación </th>
                                                            <th class="center"> Periodo </th>
                                                            <th class="center"> Acción </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="center">
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="DatosEvalEstudiantes" class="btn btn-success btn-xs">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="EditarEvalEstudiantes" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="EliminarEvalEstudiantes" class="btn btn-danger btn-xs">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">            
                            <div id="tabla_evaluacionCT">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosEvaluaciones" asp-action="CrearEvalCT" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus" style="color:white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="example3" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal </th>
                                                            <th class="center"> Nombre del académico</th>
                                                            <th class="center"> Evaluación del desempeño </th>
                                                            <th class="center"> Evaluación de gestión </th>
                                                            <th class="center"> Periodo </th>
                                                            <th class="center"> Acción </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="center">
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="EditarEvalCT" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="EliminarEvalCT" class="btn btn-danger btn-xs">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">            
                            <div id="tabla_evaluaciontutor">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosEvaluaciones" asp-action="CrearEvalTutor" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus" style="color:white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="example1" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal </th>
                                                            <th class="center"> Nombre del académico</th>
                                                            <th class="center"> Calificación </th>
                                                            <th class="center"> Periodo </th>
                                                            <th class="center"> Acción </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="center">
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="EditarEvalTutor" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a asp-controller="AcademicosEvaluaciones" asp-action="EliminarEvalTutor" class="btn btn-danger btn-xs">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</html>

