<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ba62cc7f-a7c1-4282-a0c8-7de1e4cc30b9/resourceGroups/UV/providers/Microsoft.Web/sites/sgcfiee</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://sgcfiee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sgcfiee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sgcfiee</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sgcfiee</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>