@model SGCFIEE.Models.CursosTalleresAplicacion;
@{
    ViewData["Title"] = "CrearCursos_Talleres";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>CURSOS O TALLERES</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosParticipacionesAcad" asp-action="ActualizarCursos_Talleres" method="post" enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">
                                <input type="hidden" asp-for="IdCursosTalleres"/>
                                
                                <div class="form-group">
                                    Seleccione:<br>
                                    <input asp-for="CT" type="radio" value="1"/> Curso<br>
                                    <input asp-for="CT" type="radio" value="0"/> Taller
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <input asp-for="Titulo" type="text" class="form-control" placeholder="Ingresar..." required="required" value="@Model.Titulo">
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <input asp-for="Fecha" type="text" class="form-control" placeholder="mm/dd/aa" required="required" value="@ViewData["fecha"]">
                                    <span asp-validation-for="Fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Archivo</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosParticipacionesAcad" asp-action="IndexCursos_Talleres" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
