@model SGCFIEE.Models.Estudios;
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var perio = (IEnumerable<TipoPeriodo>)ViewData["periodos"];
    var pe = (IEnumerable<ProgramaEducativo>)ViewData["pe"];
    var salones = (IEnumerable<TbSalones>)ViewData["salones"];
}

<html>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>Grados académicos</header>
            </div>
            <form asp-controller="AcademicosDatosGenerales" asp-action="GuardarGA" method="post" enctype="multipart/form-data">
                <div class="card-body " <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Nombre del titulo</label>
                                <select id="grados" class="form-control" name="Grado_obtenido">
                                    <c:forEach items="${requestScope.GT}" var="GT">
                                        <option value="${GT.id}">${GT.nombre}</option>
                                    </c:forEach>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>IES</label>
                                <select id="ies_grados" class="form-control" name="Institucion">
                                    <c:forEach items="${requestScope.ins}" var="ins">
                                        <option value="${ins.id_I_E}">${ins.nombre}</option>
                                    </c:forEach>
                                </select>
                            </div>
                            <div class="form-group">
                                Fecha de egreso
                                <input id="fechaegreso" type="date" class="form-control" name="Fechaegreso">
                                <br>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                Fecha de titulación
                                <input id="fechatitulacion" type="date" class="form-control" name="FechaTitulacion">
                                <br>
                            </div>
                            <div class="form-group">
                                <label>Reconocimiento:</label><br>
                                <div class="radio p-0">
                                    <input type="radio" name="reconocimiento" id="reconocimiento1" value="0">
                                    <label for="reconocimiento1">
                                        Ninguno
                                    </label>
                                    <br>
                                    <input type="radio" name="reconocimiento" id="reconocimiento2" value="1">
                                    <label for="reconocimiento2">
                                        Acreditado
                                    </label>
                                    <br>
                                    <input type="radio" name="reconocimiento" id="reconocimiento3" value="2">
                                    <label for="reconocimiento3">
                                        PNPC
                                    </label>
                                </div>
                            </div>
                            <label>Subir titulo</label><br>
                            <input type="file" class="default" id="archivotitulo" name="Archivotitulo">
                            <br>
                            <label>Subir cedula</label><br>
                            <input type="file" class="default" id="archivocedula" name="Archivocedula">
                            <br>
                            <input id="guardarreconocimientos" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>id="bar-parent2">
                    
                </div>
            </form>
        </div>
    </div>
</div>
</html>
