@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>
<html>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-green">
            <div class="card-head">
                <header>REPORTES</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                
            </div>
        </div>
    </div>
</div>
</html>
