@{
    ViewData["Title"] = "CrearMaterialDidactico";
    Layout = "~/Views/Home/Principal.cshtml";
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>MATERIAL DIDACTICO</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form enctype='multipart/form-data' method="POST" onsubmit="return validacion_datosMaterial()" action="Academicos_Produccion" name="fileMDidactico">
                    <input type="text" name="ACCION" id="ACCION" value="Guardar_Material" hidden="true">
                    <div class="row">
                        <div class="col-md-6 col-md-6">

                            <div class="form-group">
                                <label>Académico</label>
                                <select id="academicos" class="form-control" name="id_academico">
                                        <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Periodo</label>
                                <select id="periodo" class="form-control" name="id_periodo">
                                        <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                Notas de clase:
                                <div class="radio p-0">
                                    <input type="radio" name="notas" id="optionsRadios1" value="1">
                                    <label for="optionsRadios1">
                                        Si
                                    </label>
                                </div>
                                <div class="radio p-0">
                                    <input type="radio" name="notas" id="optionsRadios2" value="0" >
                                    <label for="optionsRadios2">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                Acetatos:
                                <div class="radio p-0">
                                    <input type="radio" name="acetatos" id="optionsRadios3" value="1">
                                    <label for="optionsRadios3">
                                        Si
                                    </label>
                                </div>
                                <div class="radio p-0">
                                    <input type="radio" name="acetatos" id="optionsRadios4" value="0">
                                    <label for="optionsRadios4">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-6">  
                            <div class="form-group">
                                Videos:
                                <div class="radio p-0">
                                    <input type="radio" name="videos" id="optionsRadios5" value="1">
                                    <label for="optionsRadios5">
                                        Si
                                    </label>
                                </div>
                                <div class="radio p-0">
                                    <input type="radio" name="videos" id="optionsRadios6" value="0">
                                    <label for="optionsRadios6">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                Programas:
                                <div class="radio p-0">
                                    <input type="radio" name="programas" id="optionsRadios7" value="1">
                                    <label for="optionsRadios7">
                                        Si
                                    </label>
                                </div>
                                <div class="radio p-0">
                                    <input type="radio" name="programas" id="optionsRadios8" value="0">
                                    <label for="optionsRadios8">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                Prototipos:
                                <div class="radio p-0">
                                    <input type="radio" name="prototipos" id="optionsRadios9" value="1" >
                                    <label for="optionsRadios9">
                                        Si
                                    </label>
                                </div>
                                <div class="radio p-0">
                                    <input type="radio" name="prototipos" id="optionsRadios10" value="0">
                                    <label for="optionsRadios10">
                                        No
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Acta academica:</label><br>
                                <input type="file" class="default" id="archivo" name="Archivo">
                            </div>
                            <br>
                            <input id="guardarMaterial" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                            <a asp-controller="AcademicosProduccion" asp-action="IndexMaterialDidactico" class="btn btn-default btn-sm m-b-10" style="float:right">
                            Cancelar
                            </a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
