@{
    ViewData["Title"] = "CrearMPractica";
    Layout = "~/Views/Home/Principal.cshtml";
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>MANUAL DE PRACTICA</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form enctype='multipart/form-data' method="POST" onsubmit="return validacion_datosMPractica()" action="Academicos_Produccion" name="fileMPractica">
                    <input type="text" name="ACCION" id="ACCION" value="Guardar_MPractica" hidden="true">
                    <input type="text" name="Opcion" id="opcion" value="1" hidden="true">
                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            <div class="form-group">
                                <label>Académico</label>
                                <select id="academicos" class="form-control" name="id_academico">
                                        <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Periodo</label>
                                <select id="periodo" class="form-control" name="id_periodo">
                                        <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-6">  
                            <div class="form-group">
                                <label>Nombre del manual de practica</label>
                                <input id="nombre" type="text" class="form-control" placeholder="Ingresar..." name="manual">
                            </div>
                            <div class="form-group">
                                <label>Subir evidencia:</label><br>
                                <input type="file" class="default" id="archivo" name="Archivo">
                            </div>
                            <br>
                            <input id="guardarMPractica" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                            <a asp-controller="AcademicosProduccion" asp-action="IndexMPractica" class="btn btn-default btn-sm m-b-10" style="float:right">
                            Cancelar
                            </a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>